 /* first section */
 @import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
}

.parent{
    background:url(../images/hero_1.jpg.webp);
    background-size: 100% 100%;
    background-size:cover ; 
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: aliceblue;
    height: 700px;
} 
.parent .content {
    backdrop-filter:brightness(75%);
    height: 700px; ;
}

.parent .header .container{ 
    margin: auto;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 85%;
} 
.parent .header .container h2{
    font-size: 27px;
    font-weight: 800;
    color: #fff;
}

#icon{
    width: 25px;
}

.section {
    color: #fff;
    margin-top: 30vh;
    font-family: "Trirong", serif;

}
.section h1{
font-size: 80px;
font-weight: 900;
color: #fcf7f7;

} 
#travel-tours:hover{
    color: #f8e6e6;
    font-weight: lighter;
    cursor: pointer;
    text-shadow:10cap #9c9a9a;

}
.section button{
    background-color: rgba(255, 255,255, 0.1 );
    color: white;
    border: 1.6px #fff solid;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    
} 
.section button:hover{
    background-color: #fff;
    color: black;
}  

/* --------------------- */

/* second section  */ 

.section2{
    display: flex; 
    align-items: center;
    justify-content: center;
} 
.section2 .img-div img{
   width: 400px;
   height: px;
   padding-left: 60px;

} 
.section2 .p-div{
    font-family: 'Playfair Display', serif;
    width: 400px;
    padding: 50px;
    font-weight: lighter;
} 
.section2 .p-div h2{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
} 
.section2 .p-div p{
    color: rgb(157, 150, 150);
    font-weight: 300px;
}
/* third section */ 
.section3{
    text-align: center;
    background-color: #fbfafb;
    outline: 1 #fff solid;
} 

.first-block p{
   margin-left: 25%;
   margin-right: 25%;
    color: rgb(113, 112, 112);

}
#spn1{ 
    font-size: 20px;
    font-weight: 700; 
    font-family: 'Times New Roman', Times, serif;
} 
.break-fast img{
    width: 60px;
} 
.break-fast h3{
    font-weight: 700;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
} 
.travel img{
    width: 60px;
}
.travel h3{
    font-weight: 700;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
.air img{
    width: 60px;
}
.air h3{
    font-weight: 700;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
} 
.second-block{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 20%;
    margin-right: 20%;
}
.break-fast ,.air ,.travel {
width: 270px;
padding: 40px;
}
.break-fast p,.air p ,.travel p{
    color: rgb(113, 112, 112);

}

.third-block{
    display: flex;  
    justify-content: center;
    align-items: center; 

}
.beach img{
    width: 60px;
} 
.beach h3{
    font-weight: 700;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
} 
.mountain img{
    width: 60px;
}
.mountain h3{
    font-weight: 700;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
.ballon img{
width: 60px;
}
.ballon h3 {
    font-weight: 700;
    font-size: 20px;
    font-family: "Trirong", serif;
}
.beach ,.mountain ,.ballon {
    width: 270px;
    padding: 40px;
}
.beach p,.mountain p ,.ballon p {
    color: rgb(113, 112, 112);

}
/* section 4  */
.section4{
    margin-top: 10vh;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
#spn2{
    font-size: 80px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;

}
.section4 p{
    color: rgb(157, 150, 150);
    font-weight: 320px;
    padding-left: 30px;
    padding-right: 30px;
}
/* section5 */
.section5-parent{
    background-color: #65c0ba; 
    height: 1000px;
    padding: 30px;

}
.section5{
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* text-align: center; */
    flex-direction: column;
    flex-wrap:wrap;
    gap: 15px;
    padding: 40px 0px;
    width: 70%;
    margin: auto;
}
.section5-part1 h1{
font-size: 70px;
font-weight:700;
padding: 15px;
text-align: center;
}
.section5-part1 p{
    color: #e8e5e5;
   font-size: 20px;   
 padding: 25px;
 text-align: center;
}
.section5-part2{
display: flex;
justify-content: space-between;
align-items: center;
background-color:transparent;

}
.section5-part2 .block1{
    background-color: #fafcfc;
    width: calc(33.333% - 20px);
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    border:2px #fbfafb ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.section5-part2 .block1 img{
    width: 100%;
}
#best45{
    font-size: 27px;
    font-weight: 900;
}
#best45:hover{
    color: #159395;
    font-weight: lighter;
    cursor: pointer;

}
#unwind{
    display: flex;
    font-size: 25px;
    font-weight: 800;
}
#feb{
    color: #d7d4d7;
    font-weight: lighter;
}
#feb:hover{
    color: #9c9a9a;
    font-weight: lighter;
    cursor: pointer;

}
.section5-part2 .block1 p{
    padding: 5px 5px;
} 
/* block2 */
.section5-part2 .block2{
    background-color: #fafcfc;
    width: calc(33.333% - 20px);
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    border:2px #fbfafb ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}
.section5-part2 .block2 img{
    width: 100%;
}
.section5-part2 .block2 p{
    padding: 5px 5px;
} 
/* block3 */
.section5-part2 .block3{
    background-color: #fafcfc;
    width: calc(33.333% - 20px);
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    border:2px #fbfafb ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;


}
.section5-part2 .block3 img{
    width: 100%;
}
.section5-part2 .block3 p{
    padding: 5px 5px;
}
/* sectio6 */
.section6{
    background-color: #f9f9f9;
}
.cards{
    margin: auto;
    padding: 25px;
    width: 30%;
}
.cards-parent{
display: flex;
justify-content: space-between;
align-items: center;
font-family: 'Times New Roman', Times, serif;
width: 70%;
text-align: center;
margin: auto;
padding: 15px 10px;
}
#customer{
    font-size: 90px;
    font-weight: 800;
    text-align: center;
    padding: 20px;
}
#c-name{
    color: #9c9a9a;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}
.section6 .cards img{
    width: 80px;
    border-radius: 50%;
} 

.section7{
    padding: 15px 20px;
    display: flex;
   flex-direction: column;
   justify-content: space-between;
  
}
.stickers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    padding: 15px 15px;
    margin:auto;
}
.top-destination{
text-align: center;
padding: 15px 20px;
}
.top-destination h3{
    font-size: 20px;
    font-weight: 600;
}
.top-destination p{
    padding: 15px;
    color: #9c9a9a;
    font-weight: 600;
    word-break: break-all;

}
.stc1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.stc1 img{
    width: 190px;
}
.stc1 img:hover{
    cursor: pointer;
}
.stc1 h4{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 20px;
}
.stc1 h4:hover{
    color: #159395;
    cursor: pointer;
}
.iconss i{
    color: #159395;
}
/* footer style */
footer {
    background-color: #171616;
    padding: 45px;
    color: #ddd;
  }
  
  .footer ul {
    list-style: none;
  }
  
  .footer li {
      margin-bottom: 1rem;
  }
  
  .footer {
    display: flex;
    justify-content: space-around;
  }
  
  .footer h3 {
    color: var(--darker-main);
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: 500;
  }
  
  .footer .d-block {
    display: block;
    font-style: italic;
    color: var(--darker-main);
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  
  .footer a {
    color: var(--ligher-main);
    text-transform: capitalize;
  }
  
  .footer a:hover {
    color: var(--darker-main);
  }
  
  .footer p {
    color: var(--ligher-main);
    margin-bottom: 1rem;
  }
  
  .footer-newsletter .form-group {
    position: relative;
  }
  
  .footer input {
    padding: 6px 12px;
    width: 100%;
    height: 50px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--ligher-main);
    color: var(--darker-main);
    font-size: 1rem;
    font-family: "Mukta Mahee", arial, sans-serif;
    transition: 0.3s all ease;
  }
  
  .footer input:focus {
    border-bottom-color: var(--darker-main);
  }
  
  .footer input::-webkit-input-placeholder {
    color: var(--ligher-main);
    font-style: italic;
  }
  
  .footer-newsletter i {
    color: var(--darker-main);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .copyright {
    margin-top: 2rem;
    margin-inline: 175px;
    border-top: 1px solid var(--ligher-main);
    padding-top: 2rem;
    text-align: center;
  }
  
  .copyright p {
    color: var(--ligher-main);
  }
  
  .copyright p {
    color: var(--ligher-main);
  }
  
  .copyright p a,
  .copyright p a i {
    color: var(--ligher-main);
  }
  
  .copyright p a i {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  
  .copyright p a:hover,
  .copyright p a i:hover {
    color: rgb(29, 76, 206);
    scale: 1.2;
  } 
  a,
li {
  text-decoration: none;
  list-style: none;
  color: #ddd;
} 


